<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main-logged-page.css">
</head>
<body>
    <%- include('_header') %>
    <div class="main-container">
        <p>Id zalogowanego usera: <%= userId %></p>
        <p>Imię: <%= userData.name %></p>
        <p>Nazwisko: <%= userData.surname %></p>
        <p>Typ konta: <%= userData.role %></p>
    </div>
</body>
</html>