<h2>A01: Broken Access Control (IDOR - PODATNY)</h2>
<p>Zalogowano na koncie ID: <strong><%= loggedId %></strong>. (W bazie ID 3 to 'gosc')</p>

<hr>

<% if (user) { %>
    <h3>Dane profilu dla ID: <%= user.id %></h3>
    <ul>
        <li>**Użytkownik:** <%= user.username %></li>
        <li>**Rola:** <%= user.role %></li>
    </ul>
<% } else { %>
    <p><%= message %></p>
<% } %>